body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
  }
  header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 70%;
  }
  
  .main-section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(100deg, rgb(215, 215, 215) 45%, black 45%);
    align-items: center;
  }
  
  .left {
    /* flex: 1; */
    /* padding: 80px 150px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;

  }
  .left-content-wrapper {
    padding: 20px;
  }
  .main-intro {
    margin: 20px auto;
  }
  
  .left h2 {
    font-weight: bold;
    margin-bottom: 1px;

  }
  
  .left h1 {
    margin: 10px 0;
    font-size: 48px;
  margin-top: 20px;
  align-items: center;
  }
  
  .subtitle {
    color: #909090;
    /* margin-bottom: 90px; */
    font-weight: bold;
    /* margin-left: 20px; */
  }
  
  .social-icons {
    margin: 20px auto;
  }
  .social-icons img {
    width: 18px;
    margin-right: 10px;
    cursor: pointer;
    background: #C4C4C4;
    padding: 8px;
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.4);
    transition: transform 0.2s ease;
  }

  nav {
    display: flex;
    /* justify-content: flex-end; */
    gap: 50px;
    align-items: center;
    /* margin-top: 30px; */
    margin-right: 20px;
  }
  
  .btn {
    background: white;
    color: black;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
  }
  .main-content-wrapper {
    display: flex;
    width: 70%;
  }
  
  .profile-photo {
    height: 70%;

  }
 
   .logo {
    width: 35px;
  }
   

  /* About Section */
.about {
  padding: 30px;
  background: linear-gradient(to bottom, #f1f1f1, #dcdcdc);
  text-align: center;
}

.about-header h2 {
  font-size: 28px;
  border: 5px solid black;
  display: inline-block;
  padding: 10px 30px;
  margin-bottom: 30px;
  font-weight: bold;
}

.about-header p {
  max-width: 85ch;   
  margin: 0 auto 30px;    
  text-align: center;     
  color: #333;
}

.explore {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 60px;
  font-weight: bold;
}

.explore-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 20px 0;
}

.vertical-line {
  width: 3px;
  height: 30px;
  background-color: black;
}

.explore-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}


.services {
  display: flex;
  gap: 5%;
  flex-wrap: wrap;
  justify-content: center;
}

.service {
  width: 45%;
  
}

.service h3 {
  font-weight: bold;
  margin-bottom: 10px;
  font-family: Open Sans, sans-serif;
}

.service p {
  color: #555;
  font-size: 14px;
  text-align: left;
  max-width: 58ch;
  margin: 0 auto;
}

.skills-btn-container {
  margin-top: 40px;
}

.skills-btn {
  font-size: 18px;
  padding: 10px 40px;
  border: 4px solid black;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.intro-section {
  position: relative;
  background-color: #1b1b1b;
  color: white;
  padding: 1% 4%;
}

.intro-content {
  max-width: 80%
}

.intro-content h2 {
  font-size: 24px;
  letter-spacing: 3px;
  font-weight: bold;
  margin-bottom: 20px;
}

.intro-content p {
  line-height: 1.8;
  font-size: 14px;
  color: #e0e0e0;
}

.read-more-btn {
  display: inline-block;
  padding: 10px 25px;
  border: 2px solid white;
  color: white;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
}
